<h2>Usuario</h2>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario">
    <div class="campo">
        <label for="nombre">Nombre</label>
        <input id="nombre" formControlName="nombre"/>
        <div class="error" *ngIf="enviado && controles['nombre'].errors">
            <small *ngIf="controles['nombre'].errors['required']">El nombre es obigatorio</small>
            <small *ngIf="controles['nombre'].errors['minlength']">Mínimo 3 caracteres</small>
        </div>
    </div>

    <div class="campo">
        <label for="correo">Correo</label>
        <input id="correo" formControlName="correo"/>
        <div class="error" *ngIf="enviado && controles['correo'].errors">
            <small *ngIf="controles['correo'].errors['required']">El correo es obigatorio</small>
            <small *ngIf="controles['correo'].errors['email']">Debe tener formato de correo</small>
        </div>
    </div>

    <div class="campo">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password"/>
        <div class="error"  *ngIf="enviado && controles['password'].errors">
            <small *ngIf="controles['password'].errors['required']">El password es obigatorio</small>
            <small *ngIf="controles['password'].errors['minlength']">Mínimo 6 caracteres</small>
        </div>
    </div>

    <div class="campo">
        <label for="confirmacionPassword">Comfirmaación de Password</label>
        <input id="confirmacionPassword" type="password" formControlName="confirmacionPassword"/>
        <div class="error"  *ngIf="enviado && controles['confirmacionPassword'].errors || formulario.errors?.['coincidencia']">
            <small *ngIf="controles['confirmacionPassword'].errors?.['required']">La confirmación de password es obigatorio</small>
            <small *ngIf="this.formulario.errors?.['coincidencia']">La confirmación de password es incorrecta</small>
        </div>
    </div>

    <div class="campo">
        <label for="genero">Genero</label>
        <label>
            <input type="radio" formControlName="genero" value="M">
            MASCULINO
        </label>
        <label>
            <input type="radio" formControlName="genero" value="F">
            FEMENINO
        </label>

        <div class="error" *ngIf="enviado && controles['genero'].errors">
            <small *ngIf="controles['genero'].errors['required']">El genero es obigatorio</small>
        </div>
    </div>

    <div class="campo">
        <label for="tipo">Tipo</label>
        <select id="tipo" formControlName="tipo">
            <option value="">---Seleccione---</option>
            <option value="A">ADMINISTRADOR</option>
            <option value="O">OPERADOR</option>
        </select>

        <div class="error" *ngIf="enviado && controles['tipo'].errors">
            <small *ngIf="controles['tipo'].errors['required']">El tipo es obigatorio</small>
        </div>
    </div>

    <div class="campo">
        <label>
            <input type="checkbox" formControlName="activo"/>
            Activo
        </label>
    </div>
    

    <div>
        <button type="submit">Registrarse</button>
    </div>
</form>